*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#homeContainer{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem 14rem;
}

#mainContainer{
    display: flex;
    align-items:flex-start;
    gap: 1rem;
    margin-top: 60px;
}

#leftContainer{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

#cardSection{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.8rem;
}

#rightContainer {
    width: 30%;
    position: sticky;
    top: 100px;
}

#sectionArticles{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.8rem;
} 

#testimonialsContainer{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 2rem;
    background-color: rgba(128, 128, 128, 0.062);
    border-radius: 5px;

}

#testimonialCards{
    display: flex;
    gap: 1rem;
}