body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-content {
    height: 100%;
    max-width: 1090px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.light-theme {
    background-color: white;
    color: black;
}

.dark-theme {
    background-color: black;
    color: white;
}


.style1 {
    background-color: white;
    color: blueviolet;
}

.style2 {
    background-color: blueviolet;
    color: white;
}